@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

* {
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: none;
    color: var(--text-dark-color);
  }

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: whitesmoke;
  }
  
  html,
  body {
    height: 100%;
    color: var(--font-color);
    background-color: #fefefb;
  }

  *,
*::before,
*::after    {
    box-sizing: inherit;
}
  
  :root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
  
    --border-radius: 12px;
  
    --text-dark-color: #222;
    --brand-primary-color: #466995;
    --link-color: rgb(97, 49, 21);
  }

  .section    {
    border: 3px solid var(--text-dark-color);
    margin: 20px;
    padding: 15px;
}

#banner {
    background-color: whitesmoke;
    padding: 20px;
    color: var(--brand-primary-color);
}

#banner h2{
    padding-left: 20px;
    text-align: left;
    font-style: italic;
    color: var(--brand-primary-color);
}

.header {
    padding-left: 10px;
    font-size: 30px;
}

* li    {
    list-style: none;
}

.list li {
    display: inline-block;
}

.list ul    {
    margin: 0 auto;
    padding: 0;
}

#list li    {
    font-size: 30px;
    display: inline-block;
    width: 160px;
    margin: 5px;
    padding-bottom: 30px;
    text-align: center;
}

  body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  nav {
    display: flex;
    align-items: center;
    padding: var(--spacing-3) 0;
  }

  .nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
  }
  
  .nav-item {
    margin: var(--spacing-1);
  }

  .portrait {
    width: 300px;
    border-radius: var(--border-radius);
    flex-shrink: 0;
  }
  
  .about-me-container {
    display: flex;
  }
  
  .about-me-text-container {
    margin-right: var(--spacing-3);
  }

  .project-image {
    width: 50%;
  }
  
  .project-title h3 {
    display: inline;
  }

  details   {
    cursor:pointer
  }

  summary {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/right-arrow.svg);
  }

  footer {
    margin-top: auto;
    padding: var(--spacing-2) 0;
    text-align: center;
  }
  
  section {
    padding: var(--spacing-3) 0;
  }
  
  .icon {
    font-size: 2em;
    color: var(--font-color);
    margin: 0 var(--spacing-1);
  }
  
  a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
  }

  p   {
    font-size: 20px;
    font-family: 'Oswald';
    margin-bottom: 1.5rem;
}
  
  #logo {
    margin: 0;
  }


#skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: var(--spacing-1);
  }

  nav ul  {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 0;
}

nav li  {
    margin: 0 1.375rem;
    padding: 0.25rem;
    height: 2rem;
    border-top: 2px solid transparent;
    transition: all ease-in-out 0.15s;
}

nav li:hover,
nav li:focus    {
    border-top: 2px solid var(--brand-primary-color);
}

section {
    padding: 2rem 0;
    margin: 0 auto;
}

section > section   {
    padding: 1rem 0;
}

.list-horiz {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 3rem;
}

.list-horiz > * {
    margin: 0.5rem 0.5rem 0 0;
}

.col-text   {
    columns: 4;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  color: var(--brand-primary-color);
  text-decoration: n;
}

footer  {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
}

footer p    {
    margin-bottom: 0;
}

  @media only screen and (max-width: 600px) {
    .about-me-container {
      flex-direction: column;
    }

    .container {
        grid-template-columns: repeat(12, 1fr);
      }

      h2 {
        font-size: 3rem;
        line-height: 1.167;
        margin-bottom: 2rem;
      }
    
      h3 {
        font-size: 1.5rem;
        line-height: 1.33;
        margin-bottom: 2rem;
      }

      section {
        padding: 4rem 0;
      }
    
      section > section {
        padding: 2rem 0;
      }
  }